# Node
node_modules/

npm-debug.log*

# Environment
.env 

# Models (AI models, large files)
models/
/models
backend/models/
# Build
/build
/dist

# Misc
.DS_Store
*.pem
uploads/


rfp_documents/

*.lock